# Python virtual environment
venv/
env/

# Environment variables
.env



# Compiled files
*.pyc
__pycache__/

# Other IDE/editor specific files
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp

# Local Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Terraform plan output files
*.tfplan
tfplan

# Terraform plugin and module directory
.terraform/

# Terraform lock files
.terraform.lock.hcl

# Sensitive variable files
terraform.tfvars
*.auto.tfvars
